body
{
  margin: 0px;
  background-color: #f0f0f0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.header
{
  border-bottom: #6b0808 6px solid;
  height: 60px;
}

.headerBlue
{
  border-bottom: #0000A0 6px solid;
  height: 60px;
  width:800px;
}

.headerLeftColumn
{
  height: 60px;
  width: 300px;
  float:left;
  margin: 0px;
  padding: 0px;
}

.headerRightColumn
{
  height: 60px;
  width: 495px;
  float: right;
  margin: 0px;
  padding: 0px;
  vertical-align: bottom;
}

.pageHeading
{
  font-size: 18px;
  color: #0000A0;
  font-weight: normal;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subHeading
{
  font-size: 16px;
  color: #0000A0;
  font-weight: normal;
  text-decoration: underline;
}

table.dataEntry
{
  margin-top: 10px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
}

table.dataEntry td
{
  color: #0000A0;
  padding-right: 3px;
  padding-left: 3px;
  font-size: 12px;
  padding-bottom: 2px;
  border-top-style: none;
  padding-top: 2px;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
}

/* Menu list used with nested master pages */
.menuList
{
  text-align: left;
  vertical-align: text-top;
  line-height: 22px;
  width: 125px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #0000A0;
  list-style-type: none;
  margin-left: 0px;
}

.menuListItem
{
  text-align: left;
  margin-left: 10px;
}

table.pageBody
{
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 300px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

table.pageBody td.leftMenu
{
  border-right: #c0c0c0 1px solid;
  background-color: #d8d8d8;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  vertical-align: top;
}

table.pageBody td.contentBody
{
  padding-right: 0px;
  padding-left: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  vertical-align: top;
}


/* List used to display recipes in chapters */
.recipeList
{
  text-align: left;
  vertical-align: text-top;
  line-height: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #0000A0;
  list-style-type: disc;
  margin-left: 10px;
}

.recipeListHeading
{
  text-align: left;
  margin-left: 0px;
  list-style-type: none;
}

.recipeListItem
{
  text-align: left;
  margin-left: 0px;
}

.chapterHeading
{
  font-size: 12px;
  color: #0000A0;
  font-weight: normal;
  text-decoration: underline;
  margin-top: 10px;
}

.tableWithBorder
{
  border: #000080 2px solid;
  background-color: #FFFFE0;
  padding: 2px;
  margin: 0px;
}

.tableHeader
{
  font-size: 16px;
  color: #FFFFFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #000080;
  padding: 0px;
  margin: 0px;
}

.tableHeader a:link
{
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.tableHeader a:visited
{
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.tableHeaderHighlighted
{
  font-size: 16px;
  color: #FFFF00;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.tableCellNormal
{
  font-size: 14px;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  border-right: #000080 1px solid;
  border-top: #000080 1px solid;
  border-left: #000080 1px solid;
  border-bottom: #000080 1px solid;
  background-color: #FFFFE0;
}
.tableCellAlternating
{
  font-size: 14px;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  border-right: #000080 1px solid;
  border-top: #000080 1px solid;
  border-left: #000080 1px solid;
  border-bottom: #000080 1px solid;
  background-color: #FFFFFF;
}
.tableCellSelected
{
  font-size: 14px;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  border-right: #000080 1px solid;
  border-top: #000080 1px solid;
  border-left: #000080 1px solid;
  border-bottom: #000080 1px solid;
  background-color: #C0C0C0;
}

.pagerText
{
  font-size: 14px;
  color: #000080;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.labelNormal
{
  font-size: 14px;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.labelText
{
  font-size: 14px;
  color: #0000A0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.largeLabelText
{
  font-size: 16px;
  color: #0000A0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.alertText
{
  font-size: 12px;
  color: #800000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.wizardBody
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  padding: 5px;
  margin: 0px;
  border: #000080 1px solid;
  background-color: #f0f0f0;
  text-align: center;
}

.wizardHeader
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  padding: 0px;
  margin: 2px;
  border-bottom: #000080 1px solid;
  background-color: #C0C0C0;
  text-align: center;
}

.wizardSideBar
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  padding: 0px;
  margin: 2px;
  border-right: #000080 1px solid;
  background-color: #FFFFE0;
  text-align: left;
}

.wizardStep
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  padding: 0px;
  margin: 2px;
  background-color: #f0f0f0;
  text-align: left;
  vertical-align: middle;
}

.customControl
{
  border-right: black 1px solid;
  border-top: black 1px solid;
  border-left: black 1px solid;
  border-bottom: black 1px solid;
  width: 250px;
}

.MenuItem
{
  font-size: 16px;
  color: #0000A0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}
