.smallFont 
{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size:11pt;
}
.regFont 
{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size:13pt;
}
.largeFont 
{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size:19pt;
}
.xLargeFont 
{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size:24pt;
}
