.smallFont 
{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size:8pt;
}
.regFont 
{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size:10pt;
}
.largeFont 
{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size:14pt;
}
.xLargeFont 
{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size:18pt;
}
