﻿<%@ Master Language="C#" AutoEventWireup="true" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
          "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" >
    <head id="Head1" runat="server">
        <title>ASP.NET Cookbook 2nd Edition</title>
        <link rel="Stylesheet" href="css/ASPNetCookbook.css" />
    </head>
    <body>
      <form id="form1" runat="server">
        <div align="center" class="header">
          <img src="images/ASPNETCookbookHeading_blue.gif" alt="ASPNETCookbook" />
        </div>
        <div>
          <asp:ContentPlaceHolder ID="PageBody" Runat="server">
          
            <div align="center">
                <br />
                <br />
                <h4>Default Content Displayed When No Content Is Provided In Content Pages</h4>
            </div>

          </asp:ContentPlaceHolder>
        </div>
      </form>
    </body>
</html>
